
#p2{
	background-color: pink;
	font-family: ;
	font-size: 45px;
	color: red;
}

.class-1 {
	background-color: brown;
	font-size: 60px;
	font-style: italic; 
}

.menu-class-1{
	background-color: yellow;
	font-style: italic;
	font-size: 35px;
	}
